@media only screen and (max-width: 600px) {
  .btn-bottom-fixed {
    position: fixed;
    width: 100%;
    bottom: 0px;
  }
}

@media only screen and (min-width: 600px) {
  .btn-bottom-fixed {
    display: none;
  }
}
